.nav {
  height: 100px;
}
.nav > .wrapper {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.social {
  display: flex;
  gap: 20px;
}

.wrapper span {
  font-weight: bold;
}
